nav {
    padding: 0.9vw;
    height: 55px;
    background-color: #0d7967;
    background-image: linear-gradient(315deg, #292929 0%, #0f0f0f 74%);
    border: 2px solid #024439;
    border-radius: 25px 0px 25px 0px;
}
nav a {
    padding: 9px 12px;
    cursor: pointer;
    /* border: 1px solid #cc3366; */
    border-radius: 12px 0px 12px 0px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    transition: 0.9s;
    background: none;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    transition: height 0.9s, border-radius 0.8s 0.3s;
    z-index: 1;
}

nav a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    z-index: -1;
    transition: 0.9s;
    top: 0;
    transition: height 0.8s, border-radius 0.8s 0.3s;
    border-radius: 0 0 50% 50%;
}

nav a:hover::before {
    height: 100%;
    border-radius: 0px;
}
nav a:hover {
    display: inline-block;
    font-size: large;
    text-decoration: none;
    vertical-align: top;
    color: whitesmoke;
    margin-right: 3px;
}
nav button {
    background-color: blue;
    padding: 5px;
    color: aliceblue;
    font-weight: bold;
}
nav input {
    padding: 5px;
}
.namedis {
    display: inline-block;
    margin-left: 10px;
    color: #61d4c1;
    border-radius: 12px;
    float: right;
    font-weight: bold;

    padding: 5px;
    margin-right: 20px;
}

.loginbtn {
    float: right;
}
.formvi {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    float: right;
}

nav .btn2 {
    background: #ff6699;
    border-radius: 9px 0px 9px 0px;
    border-color: #cc3366;
    border-style: outset;
    border-width: 3px;
    color: #090909;
}

nav .btn1 {
    background: #edbcee;
    border-radius: 9px 0px 9px 0px;
    border-color: #cc3366;
    border-style: outset;
    border-width: 3px;
    margin-left: 15vw;
    justify-content: center;
    align-items: center;
    color: #090909;
}

nav .btn2:hover {
    background: #7a0029;
    border-radius: 9px 0px 9px 0px;
    border-color: #cc3366;
    border-style: outset;
    border-width: 3px;
    color: #f8f0f0;
}
.loginbtn {
    background: none;

    border: 1px solid aliceblue;

    outline-offset: #090909 2px;
    padding: 8px 20px;
    align-items: center;
    font-family: "montserrat";
    color: aliceblue;
    box-shadow: #f8f0f0;
    font-weight: bold;
    transition-duration: padding 1s;
}

.loginbtn:hover {
    background-color: #0d7967;
    background-image: linear-gradient(315deg, #0d7967 0%, #61d4c1 74%);
    border: 1px solid #024439;
    font-family: "montserrat";
    outline-offset: #090909 2px;
    padding: 10px 24px;
    align-items: center;
    color: #090909;
    box-shadow: #f8f0f0;
    font-weight: bold;
}
